@tailwind components;
@tailwind utilities;
@import 'poppins-font.css';
@import 'ribbon.css';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.75;
  color: #333;
  background: #f1f1f1;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  color: #97266d;
}

a:hover {
  color: #702459;
}

code {
  padding: 0px 7px;
  background: #fff098;
  display: -webkit-inline-box;
}

img {
  max-width: 100%;
  max-height: 400px;
}

.ant-layout-sider {
  width: auto !important;
  flex: 0 0 25% !important;
  max-width: 25% !important;
  padding: 3%;
  background: #27282b;
}

.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0px -1px 0px 0px #1d1e21;
  background: none;
}

.sidebar-navigation a:before {
  content: '';
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-out;
}

.sidebar-navigation a {
  position: relative;
  color: #fff;
}

.ant-layout-sider .ant-tag {
  border: 1px solid hsla(0, 0%, 100%, 0.08);
  color: #bbb;
  background: transparent;
  margin: 2px;
  cursor: pointer;
}

.sidebar-navigation a:hover:before,
.sidebar-navigation a.current-page:before {
  width: 100%;
}

.post {
  padding: 5% 7% 0%;
}

.post.post-featured {
  margin: 5px 0;
  background: #fff;
}

.featured-product {
  background: transparent;
  color: #ddd;
}

.featured-product .ant-row {
  background: #2c2c2ec4;
}

.post .poster {
  box-shadow: 0 0 0 3px #97266d33;
}

.work-experience img {
  max-height: 35px;
}

@media print {
  body {
    background: #fff;
  }
  .ant-layout-content,
  .ant-card-body {
    padding-left: 0;
    padding-right: 0;
  }
  .ant-card-bordered {
    border: none;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
  .ant-layout {
    display: block;
  }
  .ant-layout-sider {
    width: 100% !important;
    flex: none !important;
    max-width: 100% !important;
  }
  .ant-layout-content {
    margin: 1.25rem 0 !important;
  }
  .ant-card-body {
    padding: 24px 6px;
  }
  .experiments img {
    height: 15px;
  }
}
